## Myntra Dataset EDA

The myntra dataset will be used to create the list of 100 products that our company "High Value Imports, Inc." will be looking to asses seizure risk.

Rather than manually typing and creating a list of 100 products, we'll create them as a subset from the myntra data-set.

In [1]:
import pandas as pd

In [2]:
myntra_raw_df = pd.read_csv("myntra-fashion-clothing.csv")
myntra_raw_df.head()

<ipython-input-2-62e95400b3a4>:1: DtypeWarning: Columns (9) have mixed types. Specify dtype option on import or set low_memory=False.
  myntra_raw_df = pd.read_csv("myntra-fashion-clothin.csv")

,URL,Product_id,BrandName,Category,Individual_category,category_by_Gender,Description,DiscountPrice (in Rs),OriginalPrice (in Rs),DiscountOffer,SizeOption,Ratings,Reviews
0,https://www.myntra.com/jeans/roadster/roadster...,2296012,Roadster,Bottom Wear,jeans,Men,roadster men navy blue slim fit mid rise clean...,824.0,1499.0,45% OFF,"28, 30, 32, 34, 36",3.9,999.0
1,https://www.myntra.com/track-pants/locomotive/...,13780156,LOCOMOTIVE,Bottom Wear,track-pants,Men,locomotive men black white solid slim fit tra...,517.0,1149.0,55% OFF,"S, M, L, XL",4.0,999.0
2,https://www.myntra.com/shirts/roadster/roadste...,11895958,Roadster,Topwear,shirts,Men,roadster men navy white black geometric print...,629.0,1399.0,55% OFF,"38, 40, 42, 44, 46, 48",4.3,999.0
3,https://www.myntra.com/shapewear/zivame/zivame...,4335679,Zivame,Lingerie & Sleep Wear,shapewear,Women,zivame women black saree shapewear zi3023core0...,893.0,1295.0,31% OFF,"S, M, L, XL, XXL",4.2,999.0
4,https://www.myntra.com/tshirts/roadster/roadst...,11690882,Roadster,Western,tshirts,Women,roadster women white solid v neck pure cotton ...,NaN,599.0,35% OFF,"XS, S, M, L, XL",4.2,999.0

In [3]:
print("\n".join(myntra_raw_df.columns))

URL
Product_id
BrandName
Category
Individual_category
category_by_Gender
Description
DiscountPrice (in Rs)
OriginalPrice (in Rs)
DiscountOffer
SizeOption
Ratings
Reviews

In [4]:
myntra_df = myntra_raw_df[["Product_id", "Category", "Individual_category",  "BrandName", "Description", "OriginalPrice (in Rs)"]].copy()
myntra_df.rename(columns={
    'Product_id': 'product_id',
    'BrandName': 'brand_name',
    'Category': 'category',
    'Individual_category': 'individual_category',
    "Description": "description",
    'OriginalPrice (in Rs)': 'price_rs'
}, inplace=True)

myntra_df.head()

,product_id,category,individual_category,brand_name,description,price_rs
0,2296012,Bottom Wear,jeans,Roadster,roadster men navy blue slim fit mid rise clean...,1499.0
1,13780156,Bottom Wear,track-pants,LOCOMOTIVE,locomotive men black white solid slim fit tra...,1149.0
2,11895958,Topwear,shirts,Roadster,roadster men navy white black geometric print...,1399.0
3,4335679,Lingerie & Sleep Wear,shapewear,Zivame,zivame women black saree shapewear zi3023core0...,1295.0
4,11690882,Western,tshirts,Roadster,roadster women white solid v neck pure cotton ...,599.0

In [5]:
brands = myntra_df["brand_name"].unique()
len(brands)

2088

In [6]:
brands = myntra_df.brand_name.value_counts()
brands

brand_name
Pothys                   16005
Roadster                 10935
KALINI                    9589
HERE&NOW                  6515
HRX by Hrithik Roshan     5297
                         ...
PIVOTO                       1
PEONY SMART WORLD            1
OFFIRA TEX WORLD             1
Sztori Garfield              1
Geonaute By Decathlon        1
Name: count, Length: 2088, dtype: int64

In [7]:
r = brands[brands > 100]
r

brand_name
Pothys                   16005
Roadster                 10935
KALINI                    9589
HERE&NOW                  6515
HRX by Hrithik Roshan     5297
                         ...
Swiss Club                 101
LELA                       101
Lux Cozi                   101
Mizzific                   101
PAPA BRANDS                101
Name: count, Length: 840, dtype: int64

In [8]:
print("\n".join(set(r.index)))

Van Heusen Flex
LELA
MANGO
RAJGRANTH
TWIN BIRDS
Puma
Quechua By Decathlon
Sangria
ORIGIN BY ZALORA
Athena
BRINNS
beebelle
CODE by Lifestyle
BharatSthali
Triveni
Camey
SERONA FABRICS
ADORENITE
Louis Philippe Sport
Saree mall
SAPPER
Thara Sarees
La Mode
Duke
Anug by SOJANYA
Purple State
Sand Dune
Ethnic basket
ZHEIA
Srey trends
Allen Solly Tribe
Wacoal
iki chic
JC Mode
Sugathari
FLAMBOYANT
Charukriti
GRITSTONES
ONLY
Amante
Antony Morato
kipek
BASIICS by La Intimo
Sera
BE AWARA
ATTIITUDE
The Mom Store
Ed Hardy
SHANGRILA
Marie Claire
Trend Arrest
Turtle
DIVA WALK EXCLUSIVE
La Aimee
AV2
Van Heusen
ETC
HIGHLANDER
PERFECT WEAR
Just Wow
883 Police
Kook N Keech
Hangup
NEU LOOK FASHION
RIVI
Lady Lyka
CINOCCI
Adobe
RARE
Crocodile
Harpa
ADA
Beverly Hills Polo Club
Invincible
Monte Carlo
ANI
SIRIL
Soch
OM SAI LATEST CREATION
Texco
Vami
Florence
Molcha
STALK
V Dot
Forca
HPS Sports
J Hampstead
TULIP 21
Saanjh
V2 Value & Variety
W
BYFORD by Pantaloons
mod & shy
FEMEA
LY2
I Know
Mizzific
Wolfpack
Lounge Dreams
DAMENSCH
Leading Lady
Kook N Keech Marvel
Enamor
SALWAR STUDIO
WoowZerz
Fame Forever by Lifestyle
RedRound
METTLE
Luxure by Louis Philippe
FREESOUL
AD By Arvind
NAMASKAR
TOM BURG
elleven
SHECZZAR
Crimsoune Club
PAUSE SPORT
RAMRAJ COTTON
Pierre Carlo
indus route by Pantaloons
max
SCORPIUS
SELECTED
Octave
LINDBERGH
JoE Hazel
SF JEANS by Pantaloons
ZALORA OCCASION
Manyavar
Yuris
GRIFFEL
ONN
Peter England
Flambeur
Dollar
EROTISSCH
Difference of Opinion
Awadhi
ManQ CASUAL
BOMBAY SELECTIONS
Darzi
Fab Dadu
Code 61
VASTRANAND
Revolution
COVER STORY
FABNEST
Selvia
plusS
DOLCE CRUDO
Moda Rapido
SIRIKIT
Woodland
PERFECTBLUE
Cation
Heelium
Callino London
Rangriti
Dollar Missy
Ayaany
BROADSTAR
Laceandme
Women Touch
Shaily
Sztori
FRENCH FLEXIOUS
Pavechas
Bodycare
Ginger by Lifestyle
Missguided
IQRAAR
LE BOURGEOIS
PATRORNA
TABARD
ADIDAS Originals
FableStreet
SINGLE
CHIMPAAANZEE
Lilots
bigbanana
Latin Quarters
TRUNDZ
Dynamocks
THE MILLION CLUB
OTORVA
inocenCia
Leeza Store
SHFFL
MAKCLAN
MONJOLIKA FASHION
DIVASTRI
BRATMA
SHOWOFF
BLACK RADIO
Mesmore
Zelocity by Zivame
SOUNDARYA
Bitz
SHAYE
American Crew
EXTRA LOVE BY LIBAS
Kanvin
Ethnicity
Suta
ARISE
ABELINO
Llak Jeans
Inner Sense
Peter England Elite
Klamotten
PAPA BRANDS
SG LEMAN
Wildcraft
Wintage
DECHEN
Cantabil
FLAWLESS
Gipsy
Uptownie Lite
Sonari
Modeve
FERANOID
The Souled Store
COBB
Jaipur Kurti
Vbuyz
MBE
Mint & Oak
Sanwara
Head
Celio
Ruhaans
Ira Soleil
Molly & Michel
Raymond
Bruun & Stengade
VividArtsy
Smugglerz
KRAFT INDIA
Yaadleen
URBANIC
PROTEENS
ZIYAA
MAXENCE
Blacksmith
Unnati Silks
Saaki
DIVYANK
FREECULTR
Silvertraq
Ahalyaa
Imfashini
Bhama Couture
INVICTUS
NOT YET by us
Varanga
AMERICAN EAGLE OUTFITTERS
Antheaa
Sweet Dreams
V&M
M&H Our Water
Gallus
De Moza
AHIKA
WROGN
The Label Life
aaliya
Emmyrobe
UnderJeans by Spykar
JAINISH
ANVI Be Yourself
Fort Collins
Flying Machine
Indietoga
Netram
Secret Wish
SPARROWHAWK
FREAKINS
Annabelle by Pantaloons
Ajile by Pantaloons
I like me
LAMAAYA
Lady Love
Kaifoo
Park Avenue
Bonjour
INDYA
KETCH
SG RAJASAHAB
Louis Philippe
Mode by Red Tape
Anubhutee
MELOSO
EthnoVogue
Ethnix by Raymond
Rex Straut Jeans
Park Avenue Woman
Kuons Avenue
Fitkin
NEVA
Qurvii
KALINI
Tommy Hilfiger
IC4
The Vanca
Xpose
Laabha
Silk Land
Canary London
The Indian Garage Co
SPYKAR
THE BEAR HOUSE
Kotty
YASH GALLERY
LAASA  SPORTS
Popnetic
Laa Calcutta
FEVER
QUIERO
Excalibur
Napra
Parx
Safaa
MASCLN SASSAFRAS
ARDEUR
Aarika
STREET 9
Greenfibre
Da Intimo
Anahi
Okane
Go Colors
Ennoble
Miss Poem
Karmic Vision
Nautica
Van Heusen Woman
Huetrap
Ruggers
Grancy
Khushal K
Richlook
Pothys
LYKKEIN
IVOC
SmileyWorld
Tokyo Talkies
The Pink Moon
Amrutam Fab
Vastraa Fusion
Linen Club
Kappa
CAVALLO by Linen Club
Balenzia
Belle Fille
PinkLoom
SECRETS BY ZEROKAATA
Oxemberg
Poshak Hub
Saffron Threads
Benstoke
Dollar Bigboss
Zastraa
Joven
Chhabra 555
La Zoire
PANIT
SHAVYA
PURYS
Hypernation
UNITED LIBERTY
Aawari
SIMON CARTER LONDON
Saree Swarg
HERE&NOW
Taavi
Cayman
XYXX
MomToBe
U.S. Polo Assn. Women
mezmoda
Peter England Casuals
U.S. Polo Assn. Denim Co.
Parcel Yard
SASSAFRAS
her by invictus
BLANC9
Fleurt
Tikhi Imli
Voi Jeans
AADVIKA
rock.it
TREEMODA
PURVAJA
Ode by House of Pataudi
TATTVA
N-Gal
French Connection
ATHLISIS
People
ARMISTO
Lebami
Nite Flite
1 Stop Fashion
RARE RABBIT
JerfSports
Hancock
HARBORNBAY
WTFUNK
EVERDION
I Saw It First
Cherokee
ZALORA ACTIVE
3PIN
GERUA
THE WEAVE TRAVELLER
DIXCY SCOTT MAXIMUS
Karigari
Red Tape
fabGLOBAL
BEAT LONDON by PEPE JEANS
studio rasa
Sringam
SWAGG INDIA
Calvin Klein Underwear
Indo Era
Juniper
RANGMAYEE
Pootlu
Zivame
Miss Chase
Shae by SASSAFRAS
Carlton London
URBAN SCOTTISH
Veni Vidi Vici
Candyskin
cape canary
VAIRAGEE
KOI SLEEPWEAR
Indian Terrain
Mr Bowerbird
MERCHANT MARINE
Jean Cafe
Biba
VAN HEUSEN DENIM LABS
Kraus Jeans
Fluffalump
Luni
Urbano Plus
Allen Cooper
Shaftesbury London
U&F
Global Desi
Anouk
MBeautiful
Kvsfab
Urban Ranger by pantaloons
JISORA
Slumber Jill
Masculino Latino
one8 x PUMA
MANGO MAN
Swiss Club
Friskers
Black Panther
Columbia
The Chennai Silks
MARC LOUIS
XIN
Urbano Fashion
ANTI CULTURE
WESTCLO
Tinted
FUAARK
OFF LIMITS
Solemio
Geroo Jaipur
Rajnandini
Force NXT
Arrow
Jockey
Domyos By Decathlon
HRX by Hrithik Roshan
Iris
ROOTED
Kalt
Wrangler
Purple Feather
Bellofox
Bushirt
Manthan
Belliskey
Berrylush
Desi Weavess
COUPER & COLL
SOJANYA
Coucou by Zivame
AGIL ATHLETICA
V-Mart
KASSUALLY
YOONOY
Berrys Intimatess
Calvin Klein Jeans
Lakshita
JADE BLUE
IMARA
Obaan
Street Armor by Pantaloons
New Balance
VIMAL JONNEY
LA LOFT
Jack & Jones
Madame
VRSALES
MAGRE
Chennis
Rosaline by Zivame
BEATITUDE
InWeave
BUY NEW TREND
Martini
Almo Wear
CL SPORT
H&M
Be Indi
SORATIA
Yashika
GANT
VIMAL
Pretty Awesome
Roadster
JUMP USA
Forever New
Ducati
Kook N Keech Disney
Mayra
Femella
COTTON ON
Snitch
WROGN ACTIVE
Van Heusen Sport
Enchanted Drapes
Vero Moda
KENDALL & KYLIE
Banarasi Style
GRACIT
RG DESIGNERS
Readiprint Fashions
Aujjessa
PrettyCat
mokshi
Soie
Breakbounce
THE NKS PLUS
saubhagya
SHUBHVASTRA
Sports52 wear
Off Label
ZALORA WORK
ColorPlus
DIXCY SCOTT
BEVERLY BLUES
MIMOSA
Tulsattva
Invictus Indoor
Floret
SHOPGARB
hummel
DEEBACO
DEVOILER
Waahiba
Bitterlime
HOUSE OF KKARMA
Saadgi
SheWill
AND
C9 AIRWEAR
La Intimo
TAG 7 PLUS
am ma
Zink London
FOREVER 21
TAG 7
Pepe Jeans
Fabindia
ZOLA
The Dry State
FASHOR
Lenissa
Rodzen
9teenAGAIN
Indethnic
Prakrti
SANISA
Vartah
Indibelle
pivot
LABEL AARNA
ether
Nike
Louis Philippe Jeans
AURELIA
Lee
Sugr
Proline Active
Trendyol
RAREISM
Fleximaa
PUMA Motorsport
Taneira
Jinfo
Iti
arangya
Kazo
Mitera
MASH UNLIMITED
hangup trend
Masha
Levis
t-base
Femme Luxe
KISAH PLUS
See Designs
Red Chief
berry blues
Woods
RANGMANCH BY PANTALOONS
DILLINGER
John Pride
ZALORA BASICS
Rapra The Label
U.S. Polo Assn.
Cottinfab
evolove
Dollar Socks
Smarty Pants
Nayo
PERFKT-U
Arhi
Manu
THANGAMAGAN
Pistaa
KOMLI
Melange by Lifestyle
Amydus
Campus Sutra
DRAAX Fashions
Stylee LIFESTYLE
MKH
Kalamandir
High Star
KISAH
DOOR74
Chemistry
Arrow New York
NA-KD
Span
Basics
ROMEO ROSSI
Souminie
Label Ritu Kumar
Sethukrishna
KLOTTHE
Reebok Classic
Meeranshi
MISH
AD & AV
Orchid Blues
FashionRack
FirstKrush
Urban Dog
Yufta
Myshka
MANQ
Softrose
all about you
Arrow Sport
AASI - HOUSE OF NAYO
Satrani
Kalyani
SATYAM WEAVES
Blackberrys
DENNISON
Havida Sarees
GROVERSONS Paris Beauty
GOLDSTROMS
Mast & Harbour
Bewakoof
FabAlley
ASICS
UrGear
Maniac
98 Degree North
Style Quotient
SOJANYA PLUS
VAABA
WEAVERS VILLA
BROOWL
Allen Solly
SHUBHKALA
109F
FUGAZEE
Prakhya
AARA
Pratham Blue
armure
MABISH by Sonal Jain
DEYANN PLUS
Abhishti
Globus
Enviously Young
BULLMER
MUSCLE TORQUE
STUDIOACTIV
Louis Philippe ATHPLAY
MOHANLAL SONS
House of Pataudi
Souchii
NEUDIS
METAL
KHADIO
Boston Club
Marks & Spencer
Slazenger
appulse
Clovia
Cultsport
SANGAM PRINTS
Honey by Pantaloons
zebu
FURO by Red Chief
Aditi Wasan
Mystere Paris
Inddus
Colt
anayna
LOCOMOTIVE
Kryptic
Allen Solly Sport
Reebok
QUANCIOUS
Innocence
RAJUBHAI HARGOVINDAS
Ishin
one8 by Virat Kohli
Speedo
Libas
HRITIKA
KSUT
Allen Solly Woman
Janasya
Clt.s
DressBerry
Ms.Lingies
beevee
Harvard
Somras
Miaz Lifestyle
QUARANTINE
Claura
Bene Kleed
M&H Easy
Prag & Co
YOLOCLAN
MADSTO
Divena
Tweens
Aeropostale
Deewa
Lux Cozi
Juelle
DeFacto
Dupatta Bazaar
VASTRADO
Eavan
Dennis Lingo
WAIMEA
Fruit of the loom
KAMI KUBI
BoStreet
Jompers
StyleStone
OXXO
Chkokko
Classic Polo
FILA
GRASS by Gitika Goyal
IMYOUNG
Triumph
JC Collection
AESTHETIC NATION
GIORDANO
Club York
Free Authority
Vishudh
SAADHVI
Rigo
even
ELLE
Thomas Scott
Hubberholme
Freehand
Besiva
VASTRAMAY
The Kaftan Company
SPORTO
CUKOO
LAHEJA
UNDER ARMOUR
Bannos Swagger
Oxolloxo
Status Quo
7Threads
Alcis
Clora Creation
Matinique
Maaesa
Rute
abof
Yuuki
Rodamo
Zeyo
bebe
Dreamz by Pantaloons
MOKSHA DESIGNS
Neerus
DEYANN
Mufti
MIRCHI FASHION
Bossini
DODO & MOA
PETER ENGLAND UNIVERSITY
United Colors of Benetton
20Dresses
AKKRITI BY PANTALOONS
Nimayaa
ADIDAS
Being Human
Maybell

After we inspect the brand list, we'll look for "high end" brands and then randomly select

We'll define a few helper functions to perform sampling and product selection for our company:

In [9]:
HIGH_END_BRANDS = {"Nike", "H&M", "Calvin Klein Jeans", "Calvin Klein Underwear", "ADIDAS"}
SAMPLE_ITERATIONS = 5_000

def select_high_end_products(df, n=40):
    """Selects a number of products from high end brands"""
    if n <= 0 or n >= len(df):
        return df.copy()
    hep_df = df[df['brand_name'].str.contains("|".join(HIGH_END_BRANDS))].head(n=int(n))
    
    for _ in range(SAMPLE_ITERATIONS):
        results_df = hep_df.sample(n=int(n))

    return results_df

In [10]:
def select_regular_products(df, n=40):
    """Select a sample of random regular products (non-high end)"""
    if n <= 0 or n >= len(df):
        return df.copy()

    return df[~df['brand_name'].str.contains("|".join(HIGH_END_BRANDS))][:int(n)].copy()

In [11]:
def select_random_products(df, n=40):
    """Selects a number of random products"""
    if n <= 0 or n >= len(df):
        return df.copy()

    for _ in range(10_000):
        s = df.sample(n=int(n))

    return s.copy()

In [12]:
# Define the distribution of item types
TOTAL_PRODUCTS = 100
high_end_pct, regular_pct, random_pct = (.2, .4, .4)

df = myntra_df.copy()

high_end_df = select_high_end_products(myntra_df, n=high_end_pct * TOTAL_PRODUCTS)

df = df[~df.product_id.isin(high_end_df.product_id)]
regular_df = select_regular_products(myntra_df, n=regular_pct * TOTAL_PRODUCTS)

df = df[~df.product_id.isin(pd.concat([high_end_df, regular_df]).product_id)]
random_df = select_random_products(myntra_df, n=random_pct * TOTAL_PRODUCTS)

selections_df = pd.concat(
    [high_end_df, regular_df, random_df]
)

selections_df.head()

,product_id,category,individual_category,brand_name,description,price_rs
1315,12696136,Western,shorts,H&M,hm women black cotton jersey cycling shorts,699.0
3931,15746196,Topwear,sweatshirts,H&M,hm men green solid relaxed fit hoodie,1499.0
1721,13735306,Sports Wear,tights,Nike,nike women black solid essential as nsw 78 mid...,2195.0
2425,15650812,Western,jeans,H&M,hm women black solid clean look slim high ankl...,1499.0
310,15193768,Topwear,sweatshirts,H&M,hm men white relaxed fit hoodie,1499.0

In [13]:
products_df = myntra_df[myntra_df.product_id.isin(selections_df.product_id)].copy()
products_df.head()

,product_id,category,individual_category,brand_name,description,price_rs
0,2296012,Bottom Wear,jeans,Roadster,roadster men navy blue slim fit mid rise clean...,1499.0
1,13780156,Bottom Wear,track-pants,LOCOMOTIVE,locomotive men black white solid slim fit tra...,1149.0
2,11895958,Topwear,shirts,Roadster,roadster men navy white black geometric print...,1399.0
3,4335679,Lingerie & Sleep Wear,shapewear,Zivame,zivame women black saree shapewear zi3023core0...,1295.0
4,11690882,Western,tshirts,Roadster,roadster women white solid v neck pure cotton ...,599.0

In [14]:
products_df.describe()

         product_id      price_rs
count  1.000000e+02    100.000000
mean   1.257532e+07   2068.500000
std    4.445671e+06   1703.078724
min    1.864573e+06    399.000000
25%    1.053942e+07    999.000000
50%    1.364865e+07   1499.000000
75%    1.603708e+07   2519.500000
max    1.789931e+07  12000.000000

Next, we'll convert the prices into us dollar for consistency, we'll use the Federal Reserve's currency rate:

  * https://www.federalreserve.gov/releases/h10/current/

For July 26 the dollar to rupee rate is:

```
83.7000
```

In [15]:
usd_to_rs = 83.7

Now, we'll add a new column that has the price in USD:

In [16]:
products_df['price_usd'] = products_df['price_rs'].apply(lambda x: x / usd_to_rs)

In [17]:
products_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 100 entries, 0 to 478251
Data columns (total 7 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   product_id           100 non-null    int64
 1   category             100 non-null    object
 2   individual_category  100 non-null    object
 3   brand_name           100 non-null    object
 4   description          100 non-null    object
 5   price_rs             100 non-null    float64
 6   price_usd            100 non-null    float64
dtypes: float64(2), int64(1), object(4)
memory usage: 6.2+ KB

Next, we'll look into manually updating or adding the categories that match CBP's dataset:

In [18]:
from ipr_data import load_ipr

ipr_data_df = load_ipr()
ipr_data_df.head()

,FY,Trading Partner,Mode of Transportation,Centers of Excellence,Product,Unique Seizure ID,Count of Lines,MSRP,Line
0,2020,CN,Mail,"Apparel, Footwear & Textiles",Footwear,2.020010e+11,1.0,1350.0,NaN
1,2020,CN,Cargo,Industrial & Manufactured Materials,Labels/Tags,2.020010e+11,1.0,2110.0,NaN
2,2021,Other Countries,Express Consignment,Consumer Products & Mass Merchandising,Handbags/Wallets,2.021010e+11,3.0,3865.0,NaN
3,2020,CN,Mail,Consumer Products & Mass Merchandising,Sporting Goods,2.020010e+11,1.0,4000.0,NaN
4,2020,HK,Express Consignment,Consumer Products & Mass Merchandising,Handbags/Wallets,2.020010e+11,1.0,108560.0,NaN

In [19]:
print(len(ipr_data_df['Product'].unique()))
print("\n".join(ipr_data_df['Product'].unique()))

17
Footwear
Labels/Tags
Handbags/Wallets
Sporting Goods
Consumer Products
Wearing Apparel/Accessories
Watches/Jewelry
Consumer Electronics
Pharmaceuticals/Personal Care
Other
Automotive/Aerospace
Cigarettes
Toys
Optical Media
Computers/Accessories
Food
Ball Bearings

There seem to be only `17` categories, and of those `Wearing Apparel/Accessories` would be the more appropriate for our dataset, we'll assign that one to our product list.

In [20]:
products_df['product'] = 'Wearing Apparel/Accessories'

In [21]:
products_df.head()

,product_id,category,individual_category,brand_name,description,price_rs,price_usd,product
0,2296012,Bottom Wear,jeans,Roadster,roadster men navy blue slim fit mid rise clean...,1499.0,17.909200,Wearing Apparel/Accessories
1,13780156,Bottom Wear,track-pants,LOCOMOTIVE,locomotive men black white solid slim fit tra...,1149.0,13.727599,Wearing Apparel/Accessories
2,11895958,Topwear,shirts,Roadster,roadster men navy white black geometric print...,1399.0,16.714456,Wearing Apparel/Accessories
3,4335679,Lingerie & Sleep Wear,shapewear,Zivame,zivame women black saree shapewear zi3023core0...,1295.0,15.471924,Wearing Apparel/Accessories
4,11690882,Western,tshirts,Roadster,roadster women white solid v neck pure cotton ...,599.0,7.156511,Wearing Apparel/Accessories

Finally, we'll write our product list as a CSV file so that it can be consistently loaded for analysis our actual project

In [22]:
products_df.to_csv("hvi-products.csv", index=False, columns=[
    "product_id",
    "product",
    "category",
    "individual_category",
    "brand_name",
    "description",
    "price_usd"
])